adf-upds-kuaf-dev-o7c/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-upds-kuaf-dev-o7c"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/master_transaction_core')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Badges",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Badges",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Badges": {
										"filename": "badges.parquet",
										"appname": "sharedknow",
										"objectname": "badges"
									},
									"sink2": {
										"filename": "m_badges[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_badges"
									}
								},
								"linkedServiceParameters": {
									"sink2": {
										"schemaLinkedService": {}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Comments",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Badges",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Comments",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Comments": {
										"filename": "comments.parquet",
										"appname": "sharedknow",
										"objectname": "comments"
									},
									"sink2": {
										"filename": "m_comments[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_comments"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Linktypes",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Comments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Linktypes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Linktypes": {
										"filename": "linktypes.parquet",
										"appname": "sharedknow",
										"objectname": "linktypes"
									},
									"sink2": {
										"filename": "m_linktypes[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_linktypes"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Postlinks",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Linktypes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Postlinks",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Postlinks": {
										"filename": "postlinks.parquet",
										"appname": "sharedknow",
										"objectname": "postlinks"
									},
									"sink2": {
										"filename": "m_postlinks[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_postlinks"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Posts1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Postlinks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Posts1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Posts1": {
										"filename": "2008-01-01/posts_200801.parquet",
										"appname": "sharedknow",
										"objectname": "posts"
									},
									"sink2": {
										"filename": "m_2008-01-01/m_posts_200801_[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_posts"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Posts2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Posts1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Posts2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Posts2": {
										"filename": "2009-01-01/posts_200901.parquet",
										"appname": "sharedknow",
										"objectname": "posts"
									},
									"sink2": {
										"filename": "m_2009-01-01/m_posts_200901_[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_posts"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Posttypes",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Posts2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Posttypes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Posttypes": {
										"filename": "posttypes.parquet",
										"appname": "sharedknow",
										"objectname": "posttypes"
									},
									"sink2": {
										"filename": "posttypes[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_posttypes"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Users",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Posttypes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Users",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Users": {
										"filename": "users.parquet",
										"appname": "sharedknow",
										"objectname": "users"
									},
									"sink2": {
										"filename": "users[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_users"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Votes",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Votes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Votes": {
										"filename": "votes.parquet",
										"appname": "sharedknow",
										"objectname": "votes"
									},
									"sink2": {
										"filename": "votes[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_votes"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Votetypes",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_Votes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_Votetypes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Votetypes": {
										"filename": "votetypes.parquet",
										"appname": "sharedknow",
										"objectname": "votetypes"
									},
									"sink2": {
										"filename": "votetypes[n].parquet",
										"appname": "m_sharedknow",
										"objectname": "m_votetypes"
									}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"demo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "02_master_models"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-14T00:52:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_know_core')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Users",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_users.csv",
									"appname": "sharedknow",
									"objectname": "users"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "users.parquet",
									"appname": "sharedknow",
									"objectname": "users"
								}
							}
						]
					},
					{
						"name": "Copy_Badges",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Comments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_badges.csv",
									"appname": "sharedknow",
									"objectname": "badges"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "badges.parquet",
									"appname": "sharedknow",
									"objectname": "badges"
								}
							}
						]
					},
					{
						"name": "Copy_Comments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_comments.csv",
									"appname": "sharedknow",
									"objectname": "comments"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "comments.parquet",
									"appname": "sharedknow",
									"objectname": "comments"
								}
							}
						]
					},
					{
						"name": "Copy_Linktypes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Badges",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_linktypes.csv",
									"appname": "sharedknow",
									"objectname": "linktypes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "linktypes.parquet",
									"appname": "sharedknow",
									"objectname": "linktypes"
								}
							}
						]
					},
					{
						"name": "Copy_Postlinks",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Linktypes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_postlinks.csv",
									"appname": "sharedknow",
									"objectname": "postlinks"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "postlinks.parquet",
									"appname": "sharedknow",
									"objectname": "postlinks"
								}
							}
						]
					},
					{
						"name": "Copy_Posts1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Postlinks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "2008-01-01\\sk_posts_200801.csv",
									"appname": "sharedknow",
									"objectname": "posts"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "2008-01-01\\posts_200801.parquet",
									"appname": "sharedknow",
									"objectname": "posts"
								}
							}
						]
					},
					{
						"name": "Copy_Posts2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Posts1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "2009-01-01\\sk_posts_200901.csv",
									"appname": "sharedknow",
									"objectname": "posts"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "2009-01-01\\posts_200901.parquet",
									"appname": "sharedknow",
									"objectname": "posts"
								}
							}
						]
					},
					{
						"name": "Copy_Posttypes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Posts2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_posttypes.csv",
									"appname": "sharedknow",
									"objectname": "posttypes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "posttypes.parquet",
									"appname": "sharedknow",
									"objectname": "posttypes"
								}
							}
						]
					},
					{
						"name": "Copy_Votes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Posttypes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_votes.csv",
									"appname": "sharedknow",
									"objectname": "votes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "votes.parquet",
									"appname": "sharedknow",
									"objectname": "votes"
								}
							}
						]
					},
					{
						"name": "Copy_Votetypes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Votes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"filename": "sk_votetypes.csv",
									"appname": "sharedknow",
									"objectname": "votetypes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_target_parquet",
								"type": "DatasetReference",
								"parameters": {
									"filename": "votetypes.parquet",
									"appname": "sharedknow",
									"objectname": "votetypes"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"demo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "01_raw_source"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-14T00:52:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ejecutar_CopiaRaw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_CopiaRaw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "raw_know_core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "01_raw_source"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/raw_know_core')]"
			]
		}
	]
}